/*
Header and title: Rubik
Body and detail text: Karla

Deep blue: #5C6EFF
Mint green: #01EEB8
Background: #F6F7F9
Text color: #3E4A59
Line color: #DADADA
Requested button: #BBBBBB
*/

@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

html, body {
  height: 100%;
}

body {
  background-color: #F6F7F9;
  color: #3E4A59;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;s
  font-size: 42px;
}

.container {
  height: 80%;
}

.jumbotron {
  background-color: #FFFFFF;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

.nav-tabs {
  border: 0;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.nav-tabs>li>a {
  color: #3E4A59;
  border: 0;
}

.nav-tabs>li>a:hover {
  color: #3E4A59;
  border: 0;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
  color: #3E4A59;
  border: 0;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
  margin-bottom: 25px;
  padding: 10px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

#basic-addon1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
  background-color: #F6F7F9;
}

.btn-primary {
  background-color: #5C6EFF;
  border-radius: 20px;
  border: 0;
  padding: 10px 50px;
}

.btn-primary:active {
  background-color: #5C6EFF;
}

/* need to change this background color to a lighter shade of #5C6EFF */
.btn-primary:hover {
  background-color: #5C6EFF;
}

.input-group-prepend {
  padding-left: 15px;
}

.btn-secondary {
  background-color: #01EEB8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 0;
}

.btn-secondary:active {
  background-color: #BBBBBB;
}

.btn-secondary:hover {
  background-color: #01EEB8;
}

.row {
  justify-content: flex-end;
}
