/*
Header and title: Rubik
Body and detail text: Karla

Deep blue: #5C6EFF
Mint green: #01EEB8
Background: #F6F7F9
Text color: #3E4A59
Line color: #DADADA
Requested button: #BBBBBB
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F6F7F9;
  color: #3E4A59;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #DADADA;
  height: 1px;
  margin-bottom: 3px;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.container {
  min-height: 85vh;
}

.container-fluid {
  height: 100%;
}

.jumbotron {
  background-color: #FFFFFF;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  min-height: inherit;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #DADADA;
  width: 100%;

  display: flex;
  flex: row;
  justify-content: between;
}

.nav-link {
  color: #3E4A59;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  background-color: #f2f2f2;
  color: #343f4b;
  transition: background-color 0.4s ease;
}

.nav-container {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-pills .nav-link:hover {
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}

.nav {
  max-width: 700px;
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #3E4A59;
  background-color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #01EEB8;
}

.nav-pills {
  line-height: 40px;
  padding: 0;
  font-size: 18px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #3E4A59;
}

/* sign-in form */
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
  margin-bottom: 25px;
  padding: 10px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

/* club page */
.club-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.club-role {
  font-size: 12px;
  margin-top: 0;
}

.mission-container {
  min-height: 85vh;
  width: 100%;
}

.profile-pic {
  width: 80px;
  height: auto;
  border-radius: 100%;
}

.form-inline {
  width: 100%;
  max-width: 400px;
}

.form-inline input {
  padding: 5px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

.subscribe-box {
  max-width: 300px;
  width: 100%;
}

.input-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

#basic-addon1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
  background-color: #F6F7F9;
}

/* BUTTONS */
.btn-primary {
  background-color: #5C6EFF;
  border-radius: 20px;
  border: 0;
  padding: 10px 50px;
}

.btn-primary:active {
  background-color: #5C6EFF;
}

.btn-primary:hover {
  background-color: #5C6EFF;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show.btn-primary.dropdown-toggle {
  background-color: #5C6EFF;
}

.btn-text, .btn-text:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-secondary {
  background-color: #01EEB8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 0;
}

.btn-secondary.active {
  background-color: #BBBBBB;
}

.btn-secondary:hover {
  background-color: #01EEB8;
}

.btn-secondary.toggle {
  background-color: #BBBBBB;
  margin: 0;
  padding: 0;
}



.headline {
  border-bottom: 1px solid #DADADA;
  padding-top: 20px;
}

.card-img-top {
  max-width: 180px;
  max-height: 150px;
  width: 100%;
}

.card {
  max-width: 180px;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-deck:last-of-type {
  margin-top: 10px;
}

.card-body {
  max-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body h5 {
  margin: 0;
}

/* HEADLINE CONTAINERS */
.headline-container {
  max-width: 80%;
  background-color: white;
  margin-bottom: 10px;
}

.headline-container:last-child {
  margin-bottom: 50px;
}

.headline h1 {
  margin-bottom: 0px;
}

.headline-text {
  padding: 30px 60px;
  text-align: left;
}

.card-deck:last-of-type {
  margin-top: 10px;
}

.form-inline {
  width: 100%;
  max-width: 400px;
}

.card-img-top {
  max-width: 180px;
  max-height: 150px;
  width: 100%;
}

.form-inline input {
  padding: 5px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

.profile-pic {
  width: 80px;
  height: auto;
  border-radius: 100%;
}

.noWrap {
  float: left;
  clear: both;
}

.input-group-prepend {
  padding-left: 15px;
}

.position {
  font-size: 12px;
}
