/*
Header and title: Rubik
Body and detail text: Karla

Deep blue: #5C6EFF
Mint green: #01EEB8
Background: #F6F7F9
Text color: #3E4A59
Line color: #DADADA
Requested button: #BBBBBB
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F6F7F9;
  color: #3E4A59;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #DADADA;
  height: 1px;
  margin-bottom: 3px;
}

.p-text {
  font-size: 18px;
  align-self: center;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.container {
  min-height: 85vh;
}

.container-fluid {
  height: 100%;
}

.jumbotron {
  background-color: #FFFFFF;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  min-height: inherit;
}

/* navigation bars */
.navbar {
  background-color: white;
  border-bottom: 1px solid #DADADA;
  width: 100%;

  display: flex;
  flex: row;
  justify-content: between;
}

.nav-link {
  color: #3E4A59;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  background-color: #f2f2f2;
  color: #343f4b;
  transition: background-color 0.4s ease;
}

.nav-container {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-pills .nav-link:hover {
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}

.nav {
  max-width: 700px;
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #3E4A59;
  background-color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #01EEB8;
}

.nav-pills {
  line-height: 40px;
  padding: 0;
  font-size: 18px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #3E4A59;
}

/* search bar */
.form-inline {
  max-width: 500px;
}

.form-inline input {
  padding: 5px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

/* sign-in form */
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
  margin-bottom: 25px;
  padding: 10px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

/* club page */
.member-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.club-role {
  font-size: 12px;
  margin-top: 0;
}

/* headline containers */
.headline-container {
  max-width: 80%;
  background-color: white;
  margin-bottom: 15px;
}

.headline-container:last-child {
  margin-bottom: 50px;
}

.headline {
  border-bottom: 1px solid #DADADA;
  padding-top: 20px;
  margin: 0;
}

.headline h1 {
  margin-bottom: 10px;
}

.headline-text {
  padding: 30px 60px;
  text-align: left;
}

/* document cards */
.card-deck:last-of-type {
  margin-top: 10px;
}

.card {
  max-width: 180px;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-width: 180px;
  max-height: 150px;
  width: 100%;
}

.card-body {
  max-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body h5 {
  margin: 0;
}

/* your clubs page */
.club-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.student-profile-pic {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.subscribe-club-name {
  background-color: #F6F7F9;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* interest-quiz page */
#quizForm {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.quiz-tab {
  display: none;
}

.quiz-labels {
  display: block;
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  background-color: #F6F7F9;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #01EEB8;
}

input[type=checkbox] {
    display: none;
}

input:checked + label {
    border: solid 1px #01EEB8;
    color: #01EEB8;
}

input:checked + label:before {
    content: "";
}

.check {
    visibility: hidden;
}

input:checked + label .check {
    visibility: visible;
}

input.checkbox:checked + label:before {
    content: "";
}

#prevBtn {
  background-color: #bbbbbb;
}

/* buttons */
.btn-primary {
  background-color: #5C6EFF;
  border-radius: 20px;
  border: 0;
  padding: 10px 50px;
  width: 150px;
  align-self: center;
  cursor: pointer;
}

.btn-primary:active {
  background-color: #5C6EFF;
}

.btn-primary:hover {
  background-color: #6678ff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show.btn-primary.dropdown-toggle {
  background-color: #5C6EFF;
}

.btn-text, .btn-text:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-secondary {
  background-color: #01EEB8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 0;
}

.modal-dialog {
  width: 80%;
  align-self: baseline;
}
